<template>
  <div class="calc-new__content">
    <div class="calc-new__block "
         :class="{open : block.open }"
         v-for="block in tab.blocks">
      <a href="javascript:void(0);"
         @click="toggle(block)"
         class="calc-new__block-icon">
        <img :src="block.image"
             alt="">
      </a>

      <div class="calc-new__head"
           :class="{open : block.open }"
           >

        <span @click="toggle(block)">{{ block.name }}</span>
        <span class="tooltip-new">
          <span class="tooltip-new__hover">?</span>
          <span class="tooltip-new__content"> {{ block.tooltip }} </span>
        </span>
        <a v-if="deletable(block.type)" href="javascript:void(0);"
           class="calc-new__head-del"
           @click="toggleData(block)"
           :class="{add : !block.hasData}"
        >
          {{ block.hasData ?  'Удалить': 'Добавить' }} <span> {{ block.hasData ?  'из расчета' : 'к расчету' }}  </span>
        </a>
      </div>

      <block-floors :block="block"
                    :message="message"
                    :tab="tab"
                    v-if="block.type === 'floors' && block.data !== null"></block-floors>
      <block-types :block="block"
                   :message="message"
                   :tab="tab"
                   v-if="block.type === 'block_types' && block.data !== null "></block-types>
      <block-front :block="block"
                   :message="message"
                   :tab="tab"
                   v-if="block.type === 'front' && block.data !== null"></block-front>
      <block-reinforcement :block="block"
                           :message="message"
                           :tab="tab"
                           v-if="block.type === 'reinforcement' && block.data !== null"></block-reinforcement>
      <block-windows :block="block"
                     :message="message"
                     :tab="tab"
                     v-if="block.type === 'windows' && block.data !== null "></block-windows>

    </div>



    <div class="calc-new__block"
          >
      <a href="javascript:void(0);"
         class="calc-new__block-icon">
        <img src="/local/templates/stroypartner/images/calc/calc-icon-6.png"
             alt="">
      </a>
      <div class="calc-new__calculate message">
        <a href="javascript:void(0);"
           @click="calculation()">
          <img src="/local/templates/stroypartner/images/calc/calc-icon.png"
               alt="">
          РАССЧИТАТЬ
        </a>
      </div>
    </div>

    <result  :message="message" :result="result" :rows='rows'></result>



    <div class="calc-new__block">

      <div class="calc-new__send">
        <div class="calc-new__send-left">
          <img src="/local/templates/stroypartner/images/calc/mail-icon.png"
               alt="">
          <span>Отправить результаты на <span class="nowrap">e-mail</span></span>

        </div>
        <div class="calc-new__send-btn">
          <div class="b-input" :class="{ error : !sending }">
            <input class="b-input__input long"
                   type="email"
                   v-model="user.email" >
          </div>
          <a href="javascript:void(0)"
             @click="sendResult()">Отправить</a>



        </div>
      </div>
    </div>

    <div class="calc-new__block calc-new__block-noborder">
      <a href="javascript:void(0);"
         class="calc-new__block-icon">
        <img src="/local/templates/stroypartner/images/calc/calc-icon-6.png"
             alt="">
      </a>
      <div class="calc-new__suggest-title">
        Рекомендуемые материалы по Вашему расчету из нашего каталога
      </div>
    </div>


  </div>
</template>
<style>
  .error {
    border: 1px solid red;
    border-radius: 6px;
  }
  .no-margin-bot, .nomarginbot {
    margin-bottom: 0px !important;
  }

  .message{
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }

  .message .message-text {
    font-size: 16px;
    padding: 10px;
    color: #ffa169;
  }

  .message-text:before {
    content: '!';
    background :  #ffa169;
    color : white;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
  }

  .calc-new__head-del span {
    padding-left : 5px;
  }

</style>
<script>
   import blockFloors from './blocks/floors.vue'
   import blockTypes from './blocks/block_types.vue'
   import blockFront from './blocks/front.vue'
   import blockReinforcement from './blocks/reinforcement.vue'
   import blockWindows from './blocks/windows.vue'
   import result from './result.vue'

   export default{
        props: ['tabs', 'tab', 'user', 'rows', 'message' ],
        created: function() {

          _.each(this.tab.blocks, function(b){

          })

        },
        data: function() {
            return {
              'sending' : true,
              result : null,
              'values' : {
                'u_blocks' : [
                  {
                    'width' : 200,
                    'mass' : 10
                  },
                  {
                    'width' : 250,
                    'mass' : 12
                  },
                  {
                    'width' : 300,
                    'mass' : 16
                  },
                  {
                    'width' : 375,
                    'mass' : 23
                  },
                  {
                    'width' : 400,
                    'mass' : 25
                  },
                  {
                    'width' : 500,
                    'mass' : 31
                  },

                ]
              }
            }
        },
        methods: {
          deletable: function(type) {
             return !_.contains(['floors', 'block_types'], type)
          },
          hasMessage: function() {
             return this.result !== null && this.result.message.text !== null
          },
          toggle : function(block) {
            if ((block.data != null) && (block.data != "")) {
              block.open = !block.open
            }
          },
          sendResult: function(){
            var self = this;

            if(_.isEmpty(this.user.email) || this.result == null){

              this.sending = false;

              if (this.result == null) {
                self.message.text = 'Нет данных для отправки';
              } else if (_.isEmpty(this.user.email)) {
                self.message.text = 'Не заполнен email';
              }

              self.message.type = 'error'
              self.message.show = true;

            } else {
              self.sending = true;
              $.ajax({
              'method' : 'post',
              'dataType' : 'json',
              'data': {
                'email' : this.user.email,
                'data' : {'rows' :this.rows, 'tabs' : this.tabs},
                'action' : 'sendMessage'
              },
              'success' : function(data){
                if (data.success) {

                   self.message.text = 'Расчёт отправлен на указанную Вами почту!'
                   self.message.title = 'Отправлено!'
                   self.message.show = true;

                } else {
                   self.message.text = data.error
                   self.message.type = 'error'
                   self.message.show = true;
                }

              }
            });
            }


          },
          calculation : function(){
              var self = this;
              this.prepareRows()
              var temp = {};
              var result = {
                'message' : {
                  'text' : null,
                  'type' : ''
                },
                'mode' : 'short',
                'data' : {}
              };

              var total_mass_no_glue = 0;
              var total_mass_with_glue = 0;
              var transport = 20000;


              var data = _.where(this.tabs, { 'isCalc' : true})
              _.each(data, function(v){
                  var calcData  = {
                    "total_wall_area": 0,
                    "total_entry_area": 0,
                    "total_wall_area_non_entry": 0,
                    "block" : {},
                  };

                  var block = null;
                  var perimeter = 0;
                  var height = 0;
                  var firstfloor = 0;


                  _.each(v.blocks, function(b){

                    switch(b.type) {
                      case 'floors':
                        var sum = 0;


                          _.each(b.data, function(item){
                            if (firstfloor == 0 ) {
                              firstfloor += self.toFloat(item.width)
                            }
                            perimeter += self.toFloat(item.width)
                            height += self.toFloat(item.height)
                            sum += ( self.toFloat(item.width) * self.toFloat(item.height))
                          })

                          calcData.total_wall_area += sum
                        break;
                      case 'block_types':
                         if (b.data !== null) {
                            block = {};

                            block.density =  self.toFloat(b.data.density)
                            block.width =  self.toFloat(b.data.width)
                            block.height =  self.toFloat(b.data.height)
                            block.length =  self.toFloat(b.data.length)
                            block.clear_volume = (block.width * block.height * block.length ) / 1000000000

                           block.volume_and_joint = (( block.clear_volume + 3) ) / 1000
                           block.length_and_joint = ( block.length + 3) / 1000
                           block.height_and_joint = ( block.height + 3) / 1000

                           calcData.block = block
                           calcData.block_width  =  block.width
                           calcData.block_height  =  block.height
                           calcData.block_density  =  block.density
                           calcData.block_length  =  block.length

                         } else {


                          self.message.text = 'Не выбран тип блока';
                          self.message.type = 'error'
                          self.message.show = true;
                         }

                        break;
                      case 'windows':
                         var sum = 0;
                         var jumpers_count  = 0;

                         _.each(b.data, function(item){
                            if (item.form) {
                               sum += ((3.14 *  self.toFloat(item.diameter) *  self.toFloat(item.diameter) * 0.25)/10000) *  self.toFloat(item.count)
                            } else {
                              sum += (( self.toFloat(item.height) *  self.toFloat(item.width)) / 10000)  *  self.toFloat(item.count)
                            }

                            jumpers_count += self.toFloat(item.count);

                          })

                          calcData.total_entry_area += sum
                          calcData.jumpers_count = jumpers_count

                        break;
                      case 'front':

                        var sum = 0;



                        _.each(b.data, function(item){
                            sum += (self.toFloat(item.height) * self.toFloat(item.width)) *  self.toFloat(item.count);

                        })

                        calcData.total_wall_area +=sum


                        break;
                      case 'reinforcement':

                        if (b.data !== null) {
                          calcData.armor_type = b.data.armor_masonry
                          calcData.armor_step = self.toFloat((1 /self.toFloat( b.data.armor_gaps)).toFixed(2))
                          calcData.armor_is_monolith = ( b.data.armor_type !== 'not_monolith')
                        } else {
                          calcData.armor_type = 'not_use'
                          calcData.armor_step = 0
                          calcData.armor_is_monolith = 'monolith'
                        }

                        break;
                    }

                  })


                if (perimeter == 0) {
                  self.message.text = 'Не указаны параметры стен';
                  self.message.type = 'error'
                  self.message.show = true;
                }

                calcData.perimeter = perimeter
                calcData.height = height

                calcData.total_wall_area_non_entry = calcData.total_wall_area -  calcData.total_entry_area

                if (block !== null) {

                  calcData.material_count_none_joint = (calcData.total_wall_area_non_entry / block.length / block.height) * 1000000
                  calcData.material_volume_none_joint = (calcData.total_wall_area_non_entry * block.width) / 1000
                  calcData.material_count_and_joint = (calcData.total_wall_area_non_entry / block.length_and_joint / block.height_and_joint )
                  calcData.material_volume_and_joint = (calcData.material_count_and_joint * block.clear_volume )

                  if (calcData.armor_is_monolith ) {
                     calcData.mass_u_blocks_kg = 0
                  } else {
                    calcData.count_u_blocks_armor_belt = perimeter * 2;
                    calcData.volume_u_blocks = calcData.count_u_blocks_armor_belt * 0.5 * (block.height / 1000) * (block.width / 1000)
                    var u_block_mass = _.findWhere(self.values.u_blocks, { width : 300 } )
                    calcData.mass_u_blocks_kg = calcData.count_u_blocks_armor_belt * 1.3 * u_block_mass.mass
                  }


                  calcData.material_mass_kg = calcData.material_volume_and_joint * (block.density * 1.3) ;

                  calcData.pressure_foundation = calcData.material_mass_kg / (firstfloor * calcData.block_width * 100)

                  calcData.glue_volume =  calcData.material_volume_none_joint - calcData.material_volume_and_joint
                  calcData.glue_solution =  calcData.material_volume_and_joint * 32.5
                  calcData.glue_dry =  calcData.material_volume_and_joint * 25

                  calcData.material_mass_kg_and_glue = calcData.material_mass_kg + calcData.glue_dry ;

                  calcData.block_columns_and_joint = height / block.height_and_joint

                  if (calcData.armor_type == 'grid') {
                    calcData.armor_grid_area = (perimeter * calcData.block_width / 1000 ) *  calcData.block_columns_and_joint * calcData.armor_step
                  }

                  if (calcData.armor_type == 'armature') {
                    calcData.armor_grid_length = Math.ceil(perimeter * calcData.block_columns_and_joint * calcData.armor_step * 1.05)
                  }




                  calcData.transport_material_pallet = 50
                  calcData.transport_pallet = Math.ceil(calcData.material_count_and_joint / calcData.transport_material_pallet)


                  calcData.transport_machine_not_glue = Math.ceil((calcData.material_mass_kg + calcData.mass_u_blocks_kg ) / transport)
                  calcData.transport_machine_and_glue = Math.ceil((calcData.material_mass_kg + calcData.mass_u_blocks_kg + calcData.glue_dry) / transport)

                  total_mass_no_glue += (calcData.material_mass_kg + calcData.mass_u_blocks_kg );
                  total_mass_with_glue += (calcData.material_mass_kg + calcData.mass_u_blocks_kg + calcData.glue_dry);

                  calcData.additional_grinding_board = Math.ceil(calcData.material_volume_and_joint /  80 )
                  calcData.additional_plane = Math.ceil(calcData.material_volume_and_joint /  30 )
                  calcData.additional_hacksaw = Math.ceil(calcData.material_volume_and_joint /  200 )
                  calcData.additional_flex_relations = Math.ceil(calcData.total_wall_area * 4 )

                }

                result.data[v.code] = calcData
              })



              _.each(this.rows, function(row, f){

                if (row.code == 'armor') {
                  var t= _.pluck(result.data, 'armor_type');

                  var r  = [];

                  r = _.filter(t, function(v){
                      return v == 'not_use'
                  })
                  row.notShow = (r.length == t.length);
                }

                _.each(row.data, function(item, n){

                  _.each(item.data, function(i, tabCode){

                    if (tabCode in result.data) {
                      if (item.code in result.data[tabCode]){
                        self.rows[f].data[n].data[tabCode] =  result.data[tabCode][item.code].toFixed(2)
                        self.rows[f].data[n].total = (self.toFloat(self.rows[f].data[n].total) + result.data[tabCode][item.code]).toFixed(2)

                      }



                    }

                  })

                  if (item.code == 'transport_machine_not_glue') {
                    self.rows[f].data[n].total = Math.ceil(total_mass_no_glue / transport).toFixed(2);
                  }

                  if (item.code == 'transport_machine_and_glue') {
                    self.rows[f].data[n].total = Math.ceil(total_mass_with_glue /  transport).toFixed(2);
                  }
                });
              })


              this.result = result
          },
          toFloat(value) {

            if (typeof value  == "string") {

              value = value.replace(',', '.')

            }
            value = value? parseFloat(value) : 0;
            return value;

          },
          toggleData: function(block) {

            if (block.hasData) {
              block.data = null
              block.open =  false
            } else {
              block.data = JSON.parse(JSON.stringify(block.blank))
              block.open =  true
            }

            block.hasData = !block.hasData
          },
          prepareRows : function() {
          var self = this
            _.each(this.rows, function(row, f){
                _.each(row.data, function(item, n){
                  _.each(item.data, function(i, tabCode){
                      if (item.code !== ''){
                        self.rows[f].data[n].data[tabCode] =  ''
                        self.rows[f].data[n].total = 0
                      }
                  })
                });
              })
          }
        },
       components: {
          'block-floors' : blockFloors,
          'block-types' : blockTypes,
          'block-front' : blockFront,
          'block-reinforcement' : blockReinforcement,
          'block-windows' : blockWindows,
          'result' : result,
        }
    }

</script>
