<template>
  <div class="modal-overlay"
       v-if="message.show"
       @click="closeModal()">
    <div id="mail-modal"
         class="calc-new__modal">
      <a href="javascript: void(0);"
         @click="closeModal()"
         class="close"><img src="/_v/_i/inquiry_cross.gif"
                            alt="Закрыть окно"></a>
      <h1>{{ getTitle() }}</h1>
      <p> {{ message.text }} </p>
    </div>
  </div>
</template>
<style>

</style>
<script>
   export default{
        props: ['message'],
        methods: {

            getTitle() {
              var str = '';

              if (this.message.title) {
                str =  this.message.title
              } else {
                str = ( this.message.type == 'error' ? "Ошибка!" :  "Сообщение!" )
              }

              return str;

            },
            closeModal() {
               this.message.show = false
               this.message.type = ''
               this.message.title = ''
               this.message.text = ''
            }
        },

    }

</script>
