<template>
  <div class="calc-new__suggest">
    <div class="calc-suggest" v-for="item in recomend">
      <div class="calc-suggest__img">
        <img :src="item.image"
             alt="">
      </div>
      <div class="calc-suggest__list">
        <ul>
          <li v-for="f in item.features">{{ f }}</li>
        </ul>
      </div>
      <div class="calc-suggest__calculate">
        <a href="javascript:void(0);" class="buy1click" @click="showOderNumber()">
          Рассчитать с доставкой
        </a>
        <div class="calc-new__small">
          *можно рассчитать цену на весь комплект или на отдельные материалы
        </div>
      </div>
    </div>

  </div>
</template>
<style>

</style>
<script>
    import fancybox from 'fancybox';
    import 'jquery';
    fancybox($)

   export default {
        props: ['recomend', 'user'],
        mounted : function() {

          $('.buy1click').fancybox({
            href: '/oneclick.php',
            type:'ajax',
            ajax : {
              type    : "POST",
              data    : 'id=111&TYPE=oneclick'
            },
            padding:[15,25,15,25],
            fitToView:false,
            helpers:{
              overlay:{locked: false}
            },
            afterShow:function(){

            }
          });
        },
        methods: {
          showOderNumber: function(){


          }
        },
    }

</script>
