<template>
  <div class="calc-new__block calc-new__block-noborder">
    <a href="javascript:void(0);"
       class="calc-new__block-icon">
      <img src="/local/templates/stroypartner/images/calc/calc-icon-7.png"
           alt="">
    </a>

    <div v-if="(result != null && message.type !== 'error') "
         class="calc-new__result">
      <div class="calc-new__result-title">
        Результаты расчета
        <a class="calc-new__result-link"
           @click="changeMode(result.mode);"
           href="javascript:void(0);">
          {{ result.mode == 'short' ? 'Перейти к подробному расчету' : ''}}
          {{ result.mode == 'full' ? 'Перейти к краткому расчету' : '' }}
        </a>
      </div>
      <table width="100%"
             class="result-table"
             style="border-collapse: separate">
        <thead>
        <tr>
          <th class="th_head no_border_right th_head_top_left" >
            Параметры
          </th>
          <th class="th_head no_border_right total">
            Итого
          </th>
          <th class="th_head no_border_right" >
            Стены
              <span class="tooltip-new" v-if="!('outer_walls' in result.data)">

                <span class="tooltip-new__hover">
                  <a href="#top_place">?</a>
                </span>
                <span class="tooltip-new__content"> Для того чтобы просчитать сразу несколько типов стен, проставьте галочку у нужного типа стен в верхней части страницы, перейдите на него и заполните данные для расчёта. </span>
              </span>
          </th>
          <th class="th_head no_border_right">
            Внутренние несущие стены
              <span class="tooltip-new"  v-if="!('inner_walls' in result.data)">
                <span class="tooltip-new__hover"><a href="#top_place">?</a></span>
                <span class="tooltip-new__content"> Для того чтобы просчитать сразу несколько типов стен, проставьте галочку у нужного типа стен в верхней части страницы, перейдите на него и заполните данные для расчёта. </span>
              </span>
          </th>
          <th class="th_head th_head_top_right">
            Перегородки
              <span class="tooltip-new"  v-if="!('partitions' in result.data)">
                <span class="tooltip-new__hover"><a href="#top_place">?</a></span>
                <span class="tooltip-new__content"> Для того чтобы просчитать сразу несколько типов стен, проставьте галочку у нужного типа стен в верхней части страницы, перейдите на него и заполните данные для расчёта. </span>
              </span>
          </th>
        </tr>
        </thead>
        <tbody v-if="result.mode == 'short' ">

          <template v-if="!row.notShow" v-for="row in rows">
            <tr v-if="item.total > 0 && item.in_short == '1'" class="calc-new__result-short" v-for="item in row.data">
              <td style="">
                {{ item.name }}
              </td>
              <td  style="">
                {{ delZeros(item.total) }}
              </td>
              <td  style="" v-for="td in item.data">
                {{ delZeros(td) }}
              </td>
            </tr>
          </template>
        </tbody>

        <tbody v-if="result.mode == 'full' ">

            <template v-if="!row.notShow" v-for="row in rows">
              <tr class="calc-new__result-short title">
                <td style="" colspan="5" > {{ row.name }} </td>
              </tr>
              <tr v-if="item.total > 0" class="calc-new__result-short" v-for="item in row.data">
                <td style="">
                  {{ item.name }}
                </td>
                <td style="">
                  {{ delZeros(item.total) }}
                </td>
                <td style="" v-for="td in item.data">
                  {{ delZeros(td) }}
                </td>
              </tr>
            </template>

        </tbody>
      </table>
      <div class="calc-new__result-mobile">
        <div class="calc-m-result">
          <div class="calc-m-result__block">
            <div class="calc-m-result__title"
                 :class=" {open: total_value}"
                 @click="toogleTab('total_value')"
            >
              Итого
            </div>
            <div class="calc-m-result__info"
                 :class=" {open: total_value}">
              <template v-if="!row.notShow" v-for="row in rows">

                <div v-if="(result.mode == 'full' || item.in_short == '1' ) && (item.total > 0)"
                     class="calc-m-result__item"
                     v-for="item in row.data">
                  <div class="calc-m-result__name">
                    {{ item.name }}
                  </div>
                  <div class="calc-m-result__value">
                    {{ delZeros(item.total) }}
                  </div>
                </div>
              </template>
            </div>
          </div>

          <div class="calc-m-result__block">
            <div class="calc-m-result__title"
                 :class=" { open: outer_walls }"
                 @click="toogleTab('outer_walls')"
            >
              Стены
            </div>
            <div  class="calc-m-result__info"
                 :class=" {open: outer_walls}">
              <template v-if="!row.notShow" v-for="row in rows">

                <div v-if="(result.mode == 'full' || item.in_short == '1') && (item.total > 0)"
                     class="calc-m-result__item"
                     v-for="item in row.data">
                  <div class="calc-m-result__name">
                    {{ delZeros(item.name) }}
                  </div>
                  <div v-if="k == 'outer_walls'" class="calc-m-result__value" v-for="i,k in item.data">
                    {{ i }}
                  </div>
                </div>

              </template>
            </div>
          </div>

          <div class="calc-m-result__block">
            <div class="calc-m-result__title"
                 :class="{ open : inner_walls }"
                 @click="toogleTab('inner_walls')"
            >
              Внутренние несущие стены
            </div>
            <div class="calc-m-result__info"
                 :class=" {open: inner_walls}">
              <template v-if="!row.notShow" v-for="row in rows">

                <div v-if="(result.mode == 'full' || item.in_short == '1') && (item.total > 0)"
                     class="calc-m-result__item"
                     v-for="item in row.data">
                  <div class="calc-m-result__name">
                    {{ item.name }}
                  </div>
                  <div v-if="k == 'inner_walls'" class="calc-m-result__value" v-for="i,k in item.data">
                    {{ delZeros(i) }}
                  </div>
                </div>

              </template>
            </div>
          </div>

          <div class="calc-m-result__block">
            <div class="calc-m-result__title"
                 :class="{ open: partitions }"
                 @click="toogleTab('partitions')"
            >
              Перегородки
            </div>
            <div class="calc-m-result__info"
                 :class=" {open: partitions}">
              <template v-if="!row.notShow" v-for="row in rows">

                <div v-if="(result.mode == 'full' ||  item.in_short == '1') && (item.total > 0)" class="calc-m-result__item"
                     v-for="item in row.data">
                  <div class="calc-m-result__name">
                    {{ item.name }}
                  </div>
                  <div v-if="k == 'partitions'" class="calc-m-result__value" v-for="i,k in item.data">
                    {{ delZeros(i) }}
                  </div>
                </div>

              </template>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</template>
<style>
  .calc-m-result__info.open{
    display : block;
  }

  .th_head {
    border: 1px solid #dddddd;
    background-color: #f5f5f5;
    border-bottom: 0;
    padding: 14px 15px 12px;
  }

  .no_border_right  {
    border-right: 0;
  }

  .th_head_top_left {
    border-top-left-radius: 5px;
  }

  .th_head_top_right {
    border-top-right-radius: 5px;
  }

  .result-table td {
     color:#868686;border: 1px solid #eeeeee; border-bottom: 0; border-right: 0;padding: 10px 14px;line-height: 1;
  }

  .result-table td:last-child {
    border-right: 1px solid #eeeeee;
  }

  .result-table .bottom td {
    border-bottom: 1px solid #eeeeee;
  }

  .title {
    font-weight: bold;
  }

   .calc-new__result-short:last-child td{
     border-bottom: 1px solid #eeeeee;
   }

  .total {
    width: 170px;
  }

</style>
<script>
   export default{
        props: ['result', 'user',  'rows', 'message'],
        data: function() {
            return {
              'total_value' : false,
              'outer_walls' : false,
              'inner_walls' : false,
              'partitions' : false,
            }
        },
        methods: {
          toogleTab: function(name){
            this[name] =  ! this[name]
          },
          sendResult: function(){

          },

          changeMode : function(mode) {
            if (mode == 'short') {
              this.result.mode = 'full';
            }

            if (mode == 'full') {
              this.result.mode = 'short';
            }

          },

            delZeros: function (str_number) {
                var index = str_number.indexOf(".00");
                if (index != -1) {
                    return str_number.substring(0, index);
                }
                return str_number;
            }
        },
    }







</script>
