<template>
  <div class="b-tabs__head">

    <div class="calc-new__tab-item"
         v-for="tab in tabs">
      <div class="b-tabs__head-item"
           :class="{active : tab.selected === '1' }"
           @click=selectTab(tab)
           data-tab-btn="1"
      >
        <div class="calc-new__tab-top" >
                        <span class="calc-new__tab-img">
                            <img :src="tab.image"
                                 alt="">
                        </span>
          <span class="calc-new__tab-name">
                             {{ tab.name }}
                            <span class="calc-new__small">
                                {{ tab.info }}
                            </span>
                        </span>
        </div>
      </div>
      <div class="calc-new__tab-check">
        <div class="b-checkbox">
          <input type="checkbox"
                 class="b-checkbox__input"
                 v-model="tab.isCalc"
                 :id="tab.code">
          <label :for="tab.code"
                 class="b-checkbox__label">
                          <span class="b-checkbox__box">
                              <span class="b-checkbox__line b-checkbox__line--short"></span>
                              <span class="b-checkbox__line b-checkbox__line--long"></span>
                          </span>
            <span class="b-checkbox__text">

                            </span>
          </label>
        </div>
      </div>
    </div>


  </div>
</template>
<style>

</style>
<script>
    export default{
        props: ['tabs'],
        methods: {
          selectTab : function(tab) {
            _.each(this.tabs, function(t){
              t.selected = (tab.code === t.code) ? '1': ''
            })
          }
        }

    }



</script>
