<template>
  <div class="b-tabs__body">

    <div class="b-tabs__body-item active">

      <data-blocks  :message="message" :tabs="tabs" :tab="getSelectTab()" :user="user" :result="result" :rows='rows'></data-blocks>
      <recomendation :recomend="recomendList" :user="user"></recomendation>

    </div>
  </div>
</template>
<style>

</style>
<script>
    import dataBlocks from './blocks.vue'
    import recomendation from './recomendation.vue'
    export default{
        props: ['tabs', 'user', 'recomendList', 'result', 'rows', 'message'],
        methods: {
          getSelectTab : function() {
            var tab = _.findWhere(this.tabs, { selected: '1'})
            return tab
          },

        },
        components: {
          'data-blocks' : dataBlocks,
          'recomendation' : recomendation
        }
    }


</script>
