<template>
  <div class="calc-new__container">


    <div class="calc-item calc-item--complex" v-for='item, k in block.values'>
      <div class="calc-item__name">
        <div class="b-radio">
          <input type="radio"
                 @change="selectMethod(item.method)"
                 name="type"
                 :value="item.method"
                 :disabled="!tab.isCalc"
                 class="b-radio__input"
                 v-model="block.data.method"
                 :id="'rad-' + k">
          <label :for="'rad-' + k"
                 class="b-radio__label">
            <span class="b-radio__box"></span>
            <span class="b-radio__text">{{ item.name }}


            </span>
          </label>
          <a v-if="item.method == 'by_catalog'"
             :href="item.catalog_url"
             target="_blank">
            Из каталога</a> <span class="tooltip-new">
             <span class="tooltip-new__hover">?</span>
              <span class="tooltip-new__content">
                  {{ item.tooltip }}
              </span>
             </span>

        </div>
      </div>

      <div v-if="item.method === 'by_type' " class="calc-item__params">
        <div class="b-radio" v-for="val, i in item.values"  :class="{disabled : isActive(item.method)}">
          <input type="radio"
                 @change="selectValue(val)"
                 name="type-item"
                 v-model="item.selected"
                 :value="val.value"
                 :disabled="isActive(item.method)"
                 class="b-radio__input"
                 :id="'rad-it-'+i"/>
          <label :for="'rad-it-'+i"
                 class="b-radio__label">
            <span class="b-radio__box"></span>
            <span class="b-radio__text">{{ val.title }} <span class="tooltip-new">
             <span class="tooltip-new__hover">?</span>
              <span class="tooltip-new__content">
                 {{ val.title }}
              </span>
             </span></span>

          </label>
        </div>
      </div>
      <div v-if="item.method === 'by_params'" class="calc-item__params">
        <div class="calc-item__inputs">

          <div v-if="val.code !== 'density'"
               class="b-input  b-input--select b-input--parametrs" v-for="val, i in item.values"
               :class="{ disabled : isActive(item.method) }"
          >
            <label class="b-input__label" > {{val.name}} </label>
            <div class="b-input__inner">
              <select @change="selectMethod(item.method)"
                      :disabled=" isActive(item.method)"
                      v-model="val.selected" class="b-input__select">
                <option :value="v" v-for="v in val.values"> {{ v }}</option>
              </select>
              <span class="b-input__measure"> мм </span>
            </div>
          </div>
        </div>

        <div class="calc-item__inputs">
          <div v-if="val.code === 'density'"
               :class="{disabled : isActive(item.method) }"
               class="b-input b-input--select b-input--parametrs" v-for="val, i in item.values">
            <label class="b-input__label density"  > {{val.name}}
              <span class="tooltip-new" >
                <span class="tooltip-new__hover">?</span>
                <span class="tooltip-new__content"> {{ val.title }}</span>
              </span>
            </label>

            <div class="b-input__inner">
              <select @change="selectMethod(item.method)"
                      :disabled="isActive(item.method)"
                      v-model="val.selected"
                      class="b-input__select">
                <option :value="v.value" v-for="v in val.values">{{ v.name }}</option>
              </select>
              <span class="b-input__measure"> мм </span>
            </div>
          </div>
        </div>

      </div>
      <div v-if="item.method === 'by_catalog'" class="calc-item__params" id="by_catalog">
        <div class="calc-item__inputs">
          <div class="b-input "  :class="{disabled : isActive(item.method)}">
            <label class="b-input__label disabled" for="inp-1">Артикул</label>
            <input :disabled="isActive(item.method)"
                   @change="getByArticle(item.article)"
                   :class="{error :  ajax.is_send && ajax.error}"
                   id="inp-1" v-model="item.article" class="b-input__input long" type="text">
          </div>
        </div>
        <div v-if="  ajax.is_send && !ajax.error" class="calc-item__inputs" :class="{gray : isActive(item.method)}">
          Высота: {{ ajax.data.height }},
          Ширина: {{ ajax.data.width }},
          Длина: {{ ajax.data.length }},
          Плотность: D{{ ajax.data.density }}
        </div>
        <div v-if="  ajax.is_send && ajax.error" class="calc-item__inputs" :class="{gray : isActive(item.method)}">
          Введен некорректный артикул блока.
        </div>
      </div>

    </div>
  </div>
</template>
<style>
  .error {
    border : 1px solid red !important;
  }

   .gray {
    color: #9b9b9b;
  }

  .density {
    text-align : left;
  }

</style>
<script>
      export default{
        props: ['block', 'tab'],
        data: function(){
          return {
            'by_catalog' : false,
            'ajax' : {
              'is_send' : false,
              'error' : false,
              'data' : null
            }
          }
        },
        methods: {
          isActive: function(method) {
            return !this.tab.isCalc || !(this.block.data.method == method);
          },
          selectValue: function(item) {
            this.setDataParams(item.params);
          },
          getByArticle : function(article) {

            var wait = BX.showWait('by_catalog')
            var self = this;


            $.ajax({
              'method' : 'post',
              'data' : {
                'action' : 'getByArticle',
                'article' : article
              },
              'dataType' : 'json',
              'success' : function(data) {

                self.ajax.is_send = true;

                if (data.success) {
                  self.by_catalog = true;
                  self.ajax.error = false;
                  self.ajax.data = data.data;
                  self.setDataParams(data.data);
                } else {
                  self.by_catalog = false;
                  self.ajax.error = true;
                }

                BX.closeWait('by_catalog', wait);//вторым параметром надо передать результат вызова show
              }
            })
          },
          setDataParams : function(params) {


             this.block.data.width =  params.width
             this.block.data.length =  params.length
             this.block.data.height =  params.height
             this.block.data.density = params.density
          },
          selectMethod : function(method) {

            var params = {
              'width' : '',
              'height' : '',
              'length' : '',
              'density' : '',
            }
            switch(method) {
              case 'by_type':
                var type = _.findWhere(this.block.values, { 'method' : method })
                var item = _.findWhere(type.values, {'value' : type.selected})
                this.setDataParams(item.params);
                break;
              case 'by_params':
                var type = _.findWhere(this.block.values, { 'method' : method })

                _.each(type.values, function(v){
                  params[v.code] = v.selected;
                });
                this.setDataParams(params);
                break;
              case 'by_catalog':

                //var type = _.findWhere(this.block.values, { 'method' : method })

                if (this.ajax.data !== null){
                  this.setDataParams(this.ajax.data );
                }

                break;
            }
          }
        }

    }


</script>
