<template>
  <div class="calc-new__container">
    <div  class="calc-item"
         v-for="value, i in block.data">
      <div class="calc-item__count">
        {{ i + 1 }} этаж
      </div>
      <div class="calc-item__params">
        <div class="calc-item__inputs">
          <div class="b-input">
            <label class="b-input__label"
                   for="inp-1">Общая длина стен</label>
            <div class="b-input__inner">
                <input id="inp-1"
                       class="b-input__input"
                       :disabled="!tab.isCalc"
                       v-model="value.width"
                       @keyup="filter"
                       type="text">
                <span class="b-input__measure">м</span>
            </div>
          </div>
          <div class="b-input">
            <label class="b-input__label"
                   for="inp-2">Высота этажа</label>
            <div class="b-input__inner">
                <input id="inp-2"
                       class="b-input__input"
                       :disabled="!tab.isCalc"
                       v-model="value.height"
                       @keyup="filter"
                       type="text">
                <span class="b-input__measure">м</span>
            </div>
          </div>
        </div>
        <div v-if="i > 0" class="calc-item__del" @click="remove(i)">
          <a href="javascript:void(0);">
            <img src="/local/templates/stroypartner/images/calc/del-icon.png" alt="">
            Удалить этаж
          </a>
        </div>
      </div>
    </div>

    <div class="calc-new__controls">
      <a class="calc-new__btn"
         :class="{ disabled : !checkMax() }"
         @click="add()"
         href="javascript:void(0);">
        <img src="/local/templates/stroypartner/images/calc/add-icon.png"
             alt="">
        Добавить этаж
      </a>
      <a class="calc-new__btn"
         :class="{ disabled : !checkMax() }"
         @click="double()"
         href="javascript:void(0);">
        <img src="/local/templates/stroypartner/images/calc/clone-icon.png"
             alt="">
        Дублировать этаж
      </a>
      <span class="calc-new__small inline">
        Данный калькулятор предназначен для расчета стен из блоков
        для малоэтажных строений (до 3-х этажей)
      </span>
    </div>
  </div>
</template>
<style>
.b-input label {
  white-space: nowrap;
}
</style>
<script>
    export default{
        props: ['block', 'tab'],
        methods: {
          filter: function(event){
            _.each(this.block.data, function(v){
              v.width = v.width.replace(/[^0-9\,\.]+/g, "");
              v.width = v.width.replace('.', ',')
              v.height = v.height.replace(/[^0-9\,\.]+/g, "");
              v.height = v.height.replace('.', ',')
            });
          },
          add : function() {
              if (this.checkMax()) {
                this.block.data.push({
                  'height' : '',
                  'width' : '',
              });
            }

          },
          double : function() {
            if (this.checkMax()) {
              this.block.data.push(
                _.last(this.block.data)
              );
            }

          },
          purge: function() {
            this.block.data = [];
          },
          remove: function(i) {
            if(this.checkMin()) {
              this.block.data.splice(i, 1);
            }
          },
          checkMax : function(){
            return this.block.data.length < 3
          },
          checkMin : function(){
            return this.block.data.length > 1
          }
        }

    }

</script>
