<template>
  <div class="calc-new__container">
    <div class="calc-item" v-for="item, i in block.data">
      <div class="calc-item__count">
        Фронтон {{ i + 1}}
      </div>
      <div class="calc-item__params">
        <div class="calc-item__inputs">
          <div class="b-input">
            <label class="b-input__label"
                   for="inp-1">Ширина</label>
            <div class="b-input__inner">
                <input id="inp-1"
                       :disabled="!tab.isCalc"
                       class="b-input__input"
                       v-model="item.width"
                       @keyup="filter"
                       type="text">
                <span class="b-input__measure">м</span>
            </div>
          </div>
          <div class="b-input">
            <label class="b-input__label"
                   for="inp-2">Высота</label>
            <div class="b-input__inner">
                <input id="inp-2"
                       :disabled="!tab.isCalc"
                       v-model="item.height"
                       @keyup="filter"
                       class="b-input__input"
                       type="text">
                <span class="b-input__measure">
                                                    м
                </span>
            </div>
          </div>
          <div class="b-input">
            <label class="b-input__label"
                   for="inp-2">Количество</label>
            <div class="b-input__inner">
                <input id="inp-2"
                       :disabled="!tab.isCalc"
                       v-model="item.count"
                       class="b-input__input"
                       @keyup="filter"
                       type="text">
                <span class="b-input__measure">шт</span>
            </div>
          </div>
        </div>
        <div v-if="i > 0"  class="calc-item__del">
          <a href="javascript:void(0);" @click="remove(i)">
            <img src="/local/templates/stroypartner/images/calc/del-icon.png"
                 alt="">
            Удалить Фронтон
          </a>
        </div>
      </div>
    </div>
    <div class="calc-new__controls">
      <a class="calc-new__btn"
         @click="add()"
         href="javascript:void(0);">
        <img src="/local/templates/stroypartner/images/calc/add-icon.png"
             alt="">
        Добавить Фронтон
      </a>
    </div>
  </div>
</template>
<style>

</style>
<script>
    export default{
        props: ['block', 'tab'],
        methods: {
           filter: function(event){
            _.each(this.block.data, function(v){
              v.width = v.width.replace(/[^0-9\,\.]+/g, "");
              v.width = v.width.replace('.', ',')
              v.height = v.height.replace(/[^0-9\,\.]+/g, "");
              v.height = v.height.replace('.', ',')
              v.count = v.count.replace(/[^0-9]+/g, "");
            });
          },
          add : function() {
              this.block.data.push({
                  'height' : '',
                  'width' : '',
                  'count' : '',
              });
          },
          double : function(block) {
            this.block.data.push(
                _.last(this.block.data)
            );
          },
          remove: function(i) {
            if(this.checkMin()) {
              this.block.data.splice(i, 1);
            }
          },
          checkMax : function(){
            return this.block.data.length < 3
          },
          checkMin : function(){
            return this.block.data.length > 1
          }
        }

    }

</script>
