<template>
  <div class="calc-new__container">
    <div class="calc-new__container-wrap">

      <div class="calc-item calc-item--half">
        <div class="calc-item__params calc-item__params-wrap">

          <div class="calc-item__inputs" v-for='item in block.values' v-if="item.type != 'armor_type'" >
            <div v-if="item.type == 'armor_masonry' || (item.type == 'armor_gaps' && block.data.armor_masonry != 'not_use')" class="b-input b-input--long" :class={disabled:!tab.isCalc}>
              <label class="b-input__label"
                     for="sel-1"> {{ item.name }}  </label>
              <select class="b-input__select rounded"

                      :disabled="!tab.isCalc"
                      v-model="block.data[item.type]"
                      id="sel-1">
                <option :value="v.value" v-for='v in item.values'> {{ v.name }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="calc-item calc-item--half">
        <div class="calc-item__inputs" v-for='item, i in block.values'  v-if="item.type == 'armor_type'">
          <div v-if="item.type == 'armor_type'" class="b-input b-input--long" :class={disabled:!tab.isCalc}>
            <label class="b-input__label"
                   for="sel-1"> {{ item.name }}  </label>
            <select class="b-input__select rounded"

                    :disabled="!tab.isCalc"
                    v-model="block.data[item.type]"
                    id="sel-1">
              <option :value="v.value"
                      v-for='v in item.values'> {{ v.name }}</option>
            </select>
          </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</template>
<style>

</style>
<script>
    export default{
        props: ['block', 'tab'],
        methods: {
          selectTab : function(userId) {
            //this.$emit('remove-user', userId)
          }
        }

    }

</script>
