<template>
  <div class="calc-new__container">
    <div class="calc-item"
         v-for="item, i in block.data">
      <div class="calc-item__count">
        Проем {{ i + 1}}
      </div>
      <div class="calc-item__params">
        <div class="calc-item__inputs">
          <div class="b-checkbox">
            <input type="checkbox"
                   class="b-checkbox__input"
                   v-model="item.form"
                   :disabled="!tab.isCalc"
                   value="round"
                   :id="'pr_' + i">
            <label :for="'pr_' + i"
                   class="b-checkbox__label">
                      <span class="b-checkbox__box">
                        <span class="b-checkbox__line b-checkbox__line--short"></span>
                        <span class="b-checkbox__line b-checkbox__line--long"></span>
                      </span>
              <span class="b-checkbox__text">
                Круглое окно
              </span>
            </label>
          </div>
          <div v-if="item.form == false" class="b-input">
            <label class="b-input__label"
                   for="inp-1">Ширина</label>
                <div class="b-input__inner">
                    <input id="inp-1"
                       v-model="item.width"
                       :disabled="!tab.isCalc"
                       class="b-input__input"
                       @keyup="filter"
                       type="text">
                    <span class="b-input__measure">см</span>
                </div>
          </div>

          <div v-if="item.form == false" class="b-input">
            <label class="b-input__label"
                   for="inp-2">Высота</label>
            <div class="b-input__inner">
                <input id="inp-2"
                       v-model="item.height"
                       :disabled="!tab.isCalc"
                       @keyup="filter"
                       class="b-input__input"
                       type="text">
                <span class="b-input__measure">см</span>
            </div>
          </div>

          <div v-if="item.form != false" class="b-input">
            <label class="b-input__label" for="inp-1">Диаметр</label>
            <div class="b-input__inner">
                <input id="inp-1"
                       v-model="item.diameter"
                       class="b-input__input"
                       :disabled="!tab.isCalc"
                       @keyup="filter"
                       type="text">
                <span class="b-input__measure">см</span>
            </div>
          </div>


          <div class="b-input">
            <label class="b-input__label"
                   for="inp-2">Количество</label>
            <div class="b-input__inner">
                <input id="inp-2"
                       v-model="item.count"
                       @keyup="filter"
                       :disabled="!tab.isCalc"
                       class="b-input__input"
                       type="text">
                <span class="b-input__measure">шт</span>
            </div>
          </div>
        </div>
        <div v-if=" i > 0" class="calc-item__del">
          <a href="javascript:void(0);" @click="remove(i)">
            <img src="/local/templates/stroypartner/images/calc/del-icon.png"
                 alt="">
            Удалить проем
          </a>
        </div>
      </div>
    </div>

    <div class="calc-new__controls">
      <a class="calc-new__btn"
         @click="add()"
         href="javascript:void(0);">
        <img src="/local/templates/stroypartner/images/calc/add-icon.png"
             alt="">
        Добавить проем
      </a>
    </div>

  </div>
</template>
<style>

</style>
<script>

    export default{
        props: ['block', 'tab'],
        methods: {
          filter: function(event){
            _.each(this.block.data, function(v){
              v.width = v.width.replace(/[^0-9\,\.]+/g, "");
              v.width = v.width.replace('.', ',')
              v.height = v.height.replace(/[^0-9\,\.]+/g, "");
              v.height = v.height.replace('.', ',')
              v.count = v.count.replace(/[^0-9]+/g, "");
            });
          },
          add : function() {
              this.block.data.push({
                  'height' : '',
                  'width' : '',
                  'diameter' : '',
                  'count' : '',
                  'form' : '',
              });
          },
          double : function(block) {
            this.block.data.push(
                _.last(this.block.data)
            );
          },
          remove: function(i) {
            if(this.checkMin()) {
              this.block.data.splice(i, 1);
            }
          },
          checkMax : function(){
            return this.block.data.length < 3
          },
          checkMin : function(){
            return this.block.data.length > 1
          }
        }

    }



</script>
